body {
  background-color: #EEEBBD  ;
}

header {
  width: 100%;
  height: 200px;
  background-color: #b5b5ac;
  text-align: center;
  font-family: Verdana;
  color: #242424;
  font-size: 30px;
  font-style: italic;
  cursor: pointer;
  &:hover {
    /* Cambia color del texto al pasar el mouse */
    color: #7E7707 ;
  }
}

nav {
  width: 100%;
  height: 80px;
  background-color: #D6D5CA  ;
  font-family: Georgia;
  color: #242424;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
}

article {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(
    180deg,
    #f4f4f1,
    #d1d1c9 ,
    #b0b0a9 
  ); /* Color degradado */
  border-style: double;
  border-width: 1px;
  border-color: #C6BA05 ;
  padding: 5px; /* Margen interno */
  margin-top: 10px; /* Margen superior externo */
  margin-bottom: 10px; /* Margen inferior externo */
}

aside {
  width: 100%;
  height: 200px;
  background-color: #d0d0c8;
  border-style: solid;
  border-width: 1px;
  border-color: #C6BA05 ;
  padding: 5px;
}

#container {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

li a{
  color: #242424;
}



.grupo_parrafo1 {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 800;
  color: #000000;
  text-align: center;
}

.grupo_parrafo2 {
  font-family: cursive;
  font-size: 11px;
  font-weight: 300;
  color: rgb(5, 5, 5);
  text-align: right;
}

footer {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(120deg, #D6D5CA , #808076 );
  padding: 5px;
  margin-top: 10px;
  font-family: Lucida Sans;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  font-size: 20px;
  color: #1a1a1a;
}

.footer-image {
  max-width: 100px;
  height: auto;
}
